html {
    background-color: #80dddd;
}

body {
    margin: 0px 15%;
    padding: 0px;
    background-color: white;
}

#content {
    text-align: center;
}

ul {
    list-style: none;
    font-weight: bold;
    border-bottom: 2px solid #0059b3;
}

li {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    list-style: none;
    padding-left: 10px;
    padding-bottom: 5px;
}